extends layout

block content
  header#header
    div.main-page-header
      nav
        a.home-link.black-button(href="#header") Lucas Zamboni Orioli
        ul
          li
            a.nav-link.black-button(href="#about") sobre mim
          li
            a.nav-link.black-button(href="#projects") projetos
          li
            a.nav-link.primary-button(href="#contact") entre em contato
      div.header-content
        div.hero
          div.hero-content
            h1.hero-title Web Dev <span>criativo</span> e <span>inteligente</span>
            div.button-container
              a.hero-button.complimentary-button(href="#projects")
                svg( fill="none" viewBox="0 0 24 24" stroke="currentColor")
                  path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z")
                span <span class="vanish">veja</span> meus projetos
          img(src="./images/noteguy.svg", alt="", height="410px", width="331px")
    div.svg-container
      svg.wave( viewBox="0 0 1440 132" fill="none")
          path(d="M640 40.5932C499.887 13.7047 175.5 -62.4068 -163.5 106.593L-281.5 131.593H1514C1536 -2.07344 1584.09 -12.6972 1514 9.59323C1209 106.593 824.5 76 640 40.5932Z" fill="white")
  main
    section#about
      h2.title <span class="line">Sobre mim</span>
      div.about-info
        img(src="./images/me.png", alt="foto minha", height="150px", width="150px", loading="lazy")
        span Ola, meu nome é Lucas Zamboni Orioli, eu sou um estudante de contabilidade, que sempre amou mexer com números e teve um pensamento lógico, logo no momento que comecei a ir atrás de aprender programação eu me apaixonei. Agora estou procurando uma carreira no campo de Web Development, tanto quanto front-end ou back-end developer.
    section#tech-stack
      h2.title <span class="line">Conhecimentos</span>
      div.tech-stack-info
        div.svg-fiesta
          a#html5(href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5" target="_blank" rel="noopener", name="html5")
            span.none-link html5
            svg(viewBox="0 0 33 37") 
              path(d="M0 0l2.97 33.278 13.33 3.681 13.365-3.677L32.637 0H0zm26.46 7.879l-.187 2.129-.082.976H10.556l.374 4.157h14.89l-.1 1.03-.96 10.723-.07.674-8.371 2.3-.01.006-8.366-2.203-.567-6.296h4.1l.291 3.242 4.539 1.211h.013v-.162l4.558-1.15.476-5.22H7.193L6.189 7.982 6.09 6.828h20.466l-.098 1.05z")
          a#css(href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank" rel="noopener")
            span.none-link css3
            svg(viewBox="0 0 128 128") 
              path(d="M8.76 1l10.055 112.883 45.118 12.58 45.244-12.626L119.24 1H8.76zm89.591 25.862l-3.347 37.605.01.203-.014.467v-.004l-2.378 26.294-.262 2.336L64 101.607v.001l-.022.019-28.311-7.888L33.75 72h13.883l.985 11.054 15.386 4.17-.004.008v-.002l15.443-4.229L81.075 65H48.792l-.277-3.043-.631-7.129L47.553 51h34.749l1.264-14H30.64l-.277-3.041-.63-7.131L29.401 23h69.281l-.331 3.862z")
          a#javascript(href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank" rel="noopener")
            span.none-link javascript
            svg(viewBox="0 0 128 128") 
              path(d="M2 1v125h125V1H2zm66.119 106.513c-1.845 3.749-5.367 6.212-9.448 7.401-6.271 1.44-12.269.619-16.731-2.059-2.986-1.832-5.318-4.652-6.901-7.901l9.52-5.83c.083.035.333.487.667 1.071 1.214 2.034 2.261 3.474 4.319 4.485 2.022.69 6.461 1.131 8.175-2.427 1.047-1.81.714-7.628.714-14.065C58.433 78.073 58.48 68 58.48 58h11.709c0 11 .06 21.418 0 32.152.025 6.58.596 12.446-2.07 17.361zm48.574-3.308c-4.07 13.922-26.762 14.374-35.83 5.176-1.916-2.165-3.117-3.296-4.26-5.795 4.819-2.772 4.819-2.772 9.508-5.485 2.547 3.915 4.902 6.068 9.139 6.949 5.748.702 11.531-1.273 10.234-7.378-1.333-4.986-11.77-6.199-18.873-11.531-7.211-4.843-8.901-16.611-2.975-23.335 1.975-2.487 5.343-4.343 8.877-5.235l3.688-.477c7.081-.143 11.507 1.727 14.756 5.355.904.916 1.642 1.904 3.022 4.045-3.772 2.404-3.76 2.381-9.163 5.879-1.154-2.486-3.069-4.046-5.093-4.724-3.142-.952-7.104.083-7.926 3.403-.285 1.023-.226 1.975.227 3.665 1.273 2.903 5.545 4.165 9.377 5.926 11.031 4.474 14.756 9.271 15.672 14.981.882 4.916-.213 8.105-.38 8.581z")
          a#nodejs(href="https://nodejs.org/en/" target="_blank" rel="noopener")
            span.none-link nodejs
            svg(viewBox="0 0 33 36") 
              path(d="M31.147 7.954L18.057.353a2.827 2.827 0 00-2.734 0L2.093 7.954C1.24 8.444.636 9.366.636 10.351v15.183c0 .985.619 1.907 1.47 2.4l3.497 1.985c1.67.823 2.26.823 3.021.823 2.474 0 3.887-1.496 3.887-4.105v-14.99c0-.211-.11-.526-.318-.526h-1.67c-.21 0-.684.315-.684.526v14.99c0 1.156-1.046 2.307-3.001 1.33l-3.612-2.083a.41.41 0 01-.215-.35V10.35c0-.143.165-.287.292-.36l13.188-7.589a.462.462 0 01.427 0L29.947 9.99c.125.075.08.214.08.362v15.183c0 .145.055.286-.068.355L16.87 33.482a.372.372 0 01-.375 0L13.14 31.48c-.102-.06-.222-.08-.319-.026-.934.53-1.106.6-1.982.903-.216.075-.534.206.121.573l4.394 2.599a2.762 2.762 0 002.765 0l13.028-7.595c.852-.496 1.256-1.414 1.256-2.4V10.352c0-.985-.404-1.904-1.256-2.397zM20.798 23.128c-3.481 0-4.248-.96-4.504-2.692-.03-.186-.188-.41-.377-.41h-1.702c-.21 0-.38.256-.38.466 0 2.216 1.206 4.902 6.963 4.902 4.168 0 6.558-1.62 6.558-4.486 0-2.841-1.92-3.587-5.962-4.122-4.086-.54-4.5-.813-4.5-1.77 0-.79.35-1.842 3.376-1.842 2.703 0 3.7.58 4.11 2.402a.375.375 0 00.367.295h1.709a.39.39 0 00.279-.118.384.384 0 00.099-.29c-.264-3.138-2.349-4.6-6.564-4.6-3.75 0-5.987 1.584-5.987 4.238 0 2.879 2.225 3.675 5.825 4.03 4.306.423 4.641 1.052 4.641 1.899 0 1.471-1.18 2.098-3.951 2.098z")
          a#express(href="https://expressjs.com/pt-br/" target="_blank" rel="noopener")
            span.none-link express
            svg(viewBox="0 0 38 22") 
              path(d="M37.622 21.03c-1.354.345-2.19.015-2.942-1.113-1.686-2.526-3.548-4.937-5.344-7.392-.231-.318-.472-.63-.772-1.024-2.125 2.867-4.248 5.599-6.24 8.44-.712 1.015-1.46 1.457-2.79 1.098l7.991-10.726-7.44-9.687c1.28-.25 2.165-.122 2.949 1.024 1.73 2.53 3.64 4.937 5.542 7.485 1.915-2.539 3.8-4.95 5.581-7.455.716-1.015 1.485-1.4 2.771-1.027-.973 1.291-1.926 2.562-2.885 3.824-1.295 1.7-2.565 3.423-3.907 5.088-.478.594-.4.98.027 1.54 2.481 3.263 4.934 6.559 7.46 9.925zM.412 10.135c.213-1.072.356-2.164.653-3.215C2.846.558 10.149-2.087 15.166 1.855c2.94 2.313 3.67 5.573 3.524 9.248H2.125c-.25 6.593 4.497 10.574 10.548 8.544 2.122-.713 3.372-2.375 3.999-4.453.317-1.042.843-1.206 1.822-.909-.501 2.601-1.638 4.774-4.013 6.134-3.563 2.036-8.648 1.377-11.323-1.452C1.578 17.305.908 15.235.61 13c-.045-.356-.137-.707-.208-1.06.006-.602.009-1.203.009-1.805zm1.742-.442h14.972C17.028 4.925 14.059 1.538 10 1.508c-4.453-.036-7.654 3.271-7.847 8.185z")
          a#bootstrap(href="https://getbootstrap.com/" target="_blank" rel="noopener")
            span.none-link bootstrap
            svg(viewBox="0 0 38 38") 
              path(d="M22.799 18.882c-.693-.228-1.69-.179-2.993-.179h-5.23v6.828h5.593c.875 0 1.488-.093 1.842-.159a4.415 4.415 0 001.563-.588c.418-.26.762-.655 1.032-1.152.27-.498.405-1.08.405-1.73 0-.763-.195-1.349-.586-1.912-.391-.563-.933-.88-1.626-1.108zm-.718-3.122c.688-.204 1.206-.56 1.555-1.035.35-.474.524-1.078.524-1.794 0-.679-.163-1.281-.49-1.798-.325-.516-.79-.716-1.394-.907-.605-.19-1.642-.132-3.111-.132h-4.59v5.937H19.5c1.2 0 2.06-.113 2.58-.27zM37.73 4.936A4.935 4.935 0 0032.796 0H5.558A4.935 4.935 0 00.622 4.936v27.238a4.935 4.935 0 004.936 4.935h27.238a4.935 4.935 0 004.935-4.935V4.936zM27.208 24.565c-.404.823-.904 1.458-1.5 1.904a6.302 6.302 0 01-2.24 1.054c-.896.228-1.997.383-3.299.383h-8.266V7.422h8.14c1.563 0 2.817.18 3.76.594.945.414 1.684 1.038 2.22 1.899.534.86.802 1.753.802 2.693a4.63 4.63 0 01-.712 2.466c-.474.773-1.19 1.394-2.148 1.868 1.236.363 2.187.98 2.852 1.855.665.874.998 1.906.998 3.097 0 .958-.202 1.848-.607 2.67z")
          a#reacjst(href="https://pt-br.reactjs.org/" target="_blank" rel="noopener")
            span.none-link reactjs
            svg(viewBox="0 0 38 34") 
              path(d="M19.316 19.98a3.384 3.384 0 100-6.769 3.384 3.384 0 000 6.769z") 
              path(d="M32.17 11.014a33.16 33.16 0 00-2.048-.683c.178-.712.327-1.425.445-2.108.624-3.918-.059-6.68-1.959-7.748C28.044.148 27.42 0 26.708 0c-2.078 0-4.72 1.544-7.392 4.127C16.644 1.544 14.002 0 11.924 0c-.713 0-1.336.148-1.9.475-1.9 1.098-2.583 3.86-1.96 7.748.119.683.267 1.396.446 2.108-.713.208-1.396.416-2.049.683-3.71 1.425-5.73 3.384-5.73 5.581 0 2.197 2.049 4.157 5.73 5.582.653.237 1.336.475 2.049.682a29.784 29.784 0 00-.446 2.108c-.623 3.919.06 6.68 1.96 7.749.564.326 1.187.475 1.9.475 2.107 0 4.75-1.544 7.392-4.127 2.672 2.583 5.314 4.127 7.392 4.127.713 0 1.336-.149 1.9-.475 1.9-1.099 2.583-3.86 1.96-7.749a29.823 29.823 0 00-.446-2.108c.713-.207 1.395-.415 2.048-.682 3.711-1.425 5.73-3.385 5.73-5.582s-2.019-4.156-5.73-5.58zM27.777 1.96c1.217.713 1.633 2.91 1.128 6.027-.09.623-.238 1.276-.416 1.96-1.544-.357-3.176-.594-4.898-.743a42.832 42.832 0 00-3.088-3.86c2.197-2.166 4.424-3.65 6.235-3.65.386 0 .742.088 1.039.266zm-3.325 17.605c-.535.95-1.158 1.9-1.811 2.85a41.013 41.013 0 01-3.325.119c-1.158 0-2.256-.03-3.325-.119-.653-.95-1.247-1.9-1.781-2.85a47.812 47.812 0 01-1.574-2.969c.475-.98 1.01-1.989 1.574-2.968.534-.95 1.157-1.9 1.81-2.85a40.967 40.967 0 013.326-.12c1.157 0 2.256.03 3.325.12a37.3 37.3 0 011.78 2.85c.565.98 1.1 1.989 1.574 2.968-.505.98-1.01 1.96-1.573 2.97zm2.464-.98a34.995 34.995 0 011.128 3.058 32.61 32.61 0 01-3.206.564c.356-.564.742-1.158 1.068-1.781.357-.623.683-1.247 1.01-1.84zm-7.6 8.046a33.364 33.364 0 01-2.049-2.464c.683.03 1.366.059 2.049.059.683 0 1.365-.03 2.048-.06a33.39 33.39 0 01-2.048 2.465zm-5.522-4.453a32.645 32.645 0 01-3.206-.564c.326-.98.683-2.02 1.128-3.058.326.593.653 1.217 1.01 1.81.355.654.712 1.218 1.068 1.812zm-2.078-7.57a35.028 35.028 0 01-1.128-3.059 32.616 32.616 0 013.206-.564c-.356.564-.742 1.158-1.069 1.782-.356.623-.683 1.246-1.01 1.84zm7.6-8.046a33.396 33.396 0 012.048 2.464c-.683-.03-1.365-.06-2.048-.06s-1.366.03-2.049.06a33.37 33.37 0 012.049-2.464zm6.59 6.234l-1.068-1.78a32.61 32.61 0 013.206.563c-.327.98-.683 2.019-1.128 3.058a36.4 36.4 0 00-1.01-1.84zm-16.18-4.81c-.504-3.116-.088-5.313 1.129-6.026a2.006 2.006 0 011.039-.267c1.781 0 4.008 1.455 6.234 3.652-1.039 1.128-2.078 2.434-3.087 3.86a40.36 40.36 0 00-4.899.741c-.178-.683-.296-1.336-.415-1.96zm-7.332 8.61c0-1.395 1.692-2.88 4.66-3.978a17.817 17.817 0 011.9-.623 43.267 43.267 0 001.782 4.631c-.712 1.573-1.336 3.117-1.781 4.602-4.097-1.188-6.561-2.97-6.561-4.632zm8.46 14.636c-1.216-.712-1.632-2.91-1.127-6.026.089-.624.237-1.277.415-1.96 1.544.357 3.177.594 4.899.742a42.848 42.848 0 003.087 3.86c-2.197 2.167-4.423 3.651-6.234 3.651-.386 0-.742-.089-1.04-.267zm18.05-6.026c.506 3.117.09 5.314-1.127 6.026a2.005 2.005 0 01-1.04.267c-1.78 0-4.007-1.454-6.234-3.651 1.04-1.128 2.078-2.434 3.088-3.86a40.35 40.35 0 004.898-.742c.178.683.297 1.336.416 1.96zm2.673-4.632c-.594.238-1.247.446-1.9.624a43.276 43.276 0 00-1.782-4.631c.713-1.574 1.336-3.118 1.782-4.602 4.097 1.188 6.56 2.969 6.56 4.631 0 1.396-1.721 2.88-4.66 3.978z")
          a#ruby(href="https://www.ruby-lang.org/pt/" target="_blank" rel="noopener")
            span.none-link ruby
            svg(viewBox="0 0 37 36") 
              path(d="M10.096 31.707l24.331 3.321L26.2 21.33 10.096 31.707zM36.73 6.062c-.719 1.08-1.44 2.158-2.157 3.238-2.465 3.709-4.93 7.418-7.393 11.128-.137.207-.315.37-.122.69 2.38 3.929 4.741 7.87 7.108 11.808.373.622.751 1.242 1.234 1.838l1.435-28.672-.105-.03zM4.242 18.315c.111.105.39.167.519.103 2.282-1.122 4.58-2.219 6.812-3.433.729-.396 1.288-1.105 1.916-1.68a4848.42 4848.42 0 006.224-5.724c.127-.117.277-.23.353-.379.744-1.455 1.476-2.917 2.234-4.422-.904-.34-1.76-.672-2.627-.974-.118-.041-.303.04-.43.11-2.008 1.122-4.052 2.184-5.996 3.407-.972.612-1.764 1.513-2.625 2.298a355.204 355.204 0 00-4.14 3.825 7.128 7.128 0 00-.977 1.144c-.935 1.362-1.842 2.743-2.791 4.163.53.549 1.012 1.073 1.528 1.562zm8.343-1.862l-3.43 14.494 16.12-10.386-12.69-4.108zm22.75-10.345l-13.701 2.29 4.65 11.309 9.05-13.599zm-22.56 9.364l12.437 4.037-4.6-11.203-7.837 7.166zm-8.361 5.64L.06 31.517l8.29-.245-3.937-10.16zm4.035 7.748l.103-.023c.995-4.139 2.005-8.249 3.021-12.55l-6.65 3.457c1.133 2.947 2.342 6.056 3.526 9.116zM33.662 5.437c-1.324-.35-2.647-.702-3.972-1.05-1.903-.501-3.808-.995-5.71-1.5-.239-.064-.41-.105-.55.181-.673 1.378-1.366 2.745-2.05 4.118-.02.042-.016.097-.032.204l12.311-1.866.003-.087zm-7.68-3.133l10.79 2.985-1.783-5.08-8.991 1.994-.016.1zM9.364 32.502c-1.336-.155-2.708-.013-4.063.01-1.114.02-2.227.062-3.34.096a.442.442 0 00-.343.15l27.611 2.554.019-.123-8.852-1.208c-3.676-.502-7.346-1.055-11.032-1.48zm-9.12-4.16c1.185-2.753 2.366-5.506 3.557-8.256.119-.276.11-.463-.123-.685-.498-.475-.961-.985-1.506-1.552L0 28.57l.08.038c.055-.088.122-.172.163-.267zM23.618 1.576c2-.516 4.03-.92 6.047-1.37.13-.029.258-.072.386-.108L30.032 0l-8.666 1.166c.813.355 1.44.62 2.253.411z")
          a#rails(href="https://rubyonrails.org/" target="_blank" rel="noopener")
            span.none-link rails
            svg(viewBox="0 0 38 37") 
              path(d="M32.803 3.643c-3.623-1.788-7.335-1.97-11.135-.626-3.497 1.236-6.286 3.448-8.36 6.46C9.8 14.575 7.251 20.137 5.823 26.18c-.732 3.093-1.206 6.373-1.078 9.567.01.26.049.334.074.928H22.74c-.051-.594-.085-.42-.13-.534a45.678 45.678 0 01-2.205-7.48c-.741-3.638-1.13-7.342-.364-11.013 1.072-5.14 4.002-8.848 8.941-10.771 2.798-1.089 5.454-.78 7.783 1.265.021.019.065.008.122.017l.761-1.153a19.38 19.38 0 00-4.845-3.363zM1.232 27.291a6646.86 6646.86 0 00-.398 3.4l3.305.397.605-3.531-3.512-.266zm6.487-10.149L4.61 15.926l-1.004 2.852 3.168 1.016.945-2.652zm14.671 15.93c1.061.08 2.125.134 3.296.202-.425-.884-.803-1.684-1.199-2.474-.043-.086-.19-.169-.289-.17-.9-.014-1.801-.008-2.758-.008.215.78.403 1.5.622 2.21.033.107.21.232.328.24zm-9.403-24.57l-2.361-1.564-1.888 2.11 2.428 1.63 1.821-2.176zm7.521 15.844c-.003.095.082.247.166.285.85.382 1.71.746 2.646 1.15-.04-.74-.065-1.359-.11-1.976-.007-.111-.06-.27-.142-.317-.781-.432-1.573-.845-2.439-1.304-.047.79-.095 1.476-.12 2.162zm-.7-21.426l-1.616-1.835-2.226 1.157c.557.679 1.082 1.319 1.62 1.972l2.223-1.294zm1.015 14.599c-.049.11.015.346.11.432.646.583 1.314 1.14 2.056 1.776.17-.713.33-1.348.467-1.987.024-.114-.01-.302-.089-.365-.577-.466-1.174-.91-1.792-1.381-.271.539-.535 1.022-.752 1.525zm3.696-15.563c.825.022 1.651.012 2.523.012-.087-.607-.129-1.067-.232-1.512-.031-.132-.23-.308-.365-.32C25.618.07 24.787.043 23.877 0c.121.612.214 1.152.345 1.683.027.112.192.27.297.273zm1.005 10.59c.042-.078.052-.222.008-.29-.405-.635-.827-1.26-1.263-1.917l-1.413 1.298 1.954 2.165c.263-.457.497-.851.713-1.255zm1.524-4.312l.844 1.568c1.32-.724 1.447-.986.98-2.03l-1.824.462zm6.32-4.831c.55.339 1.13.628 1.72.945l.394-.614-2.2-1.611c-.032.328-.078.557-.066.783.01.172.038.427.152.497zM32.6 8.366c.594.065 1.484.126 2.078.191V7.75c-.594-.13-1.484-.259-2.078-.393v1.01z")
          a#mongodb(href="https://www.mongodb.com/" target="_blank" rel="noopener")
            span.none-link mongodb
            svg(viewBox="0 0 17 36") 
              path(d="M16.444 15.653c-.11-1.422-.444-2.793-.909-4.136-.963-3-2.508-5.655-4.685-7.939-.55-.577-1.163-1.107-1.547-1.826-.243-.455-.474-.916-.71-1.374L8.443 0C8.417.087 8.4.118 8.4.149c-.019.747-.442 1.254-.97 1.727-.592.532-1.144 1.11-1.714 1.667L3.964 5.848 2.548 8.453 1.6 11.011l-.029.04c-.521 1.713-.778 3.473-.905 5.251-.047.669.007 1.347.044 2.018.054.96.221 1.905.471 2.834.91 3.376 2.754 6.177 5.276 8.556.469.442.95.844 1.439 1.264.084-.286.15-.573.226-.859.076-.285.153-.57.205-.855-.052.286-.11.57-.167.855l-.245.86.219.742.203 1.153.097 1.203c-.001.245-.011.49.004.733.003.063.085.12.131.18l.408.144.426.165-.073-1.07-.003-1.053.147-1.604.106-.35.305-.54c.377-.303.78-.578 1.124-.915.62-.61 1.24-1.227 1.794-1.895.72-.865 1.34-1.81 1.838-2.824.333-.679.647-1.37.906-2.079.229-.625.37-1.281.55-1.923.017-.047.038-.092.048-.14.372-1.733.435-3.485.298-5.249zM9.438 30.311l-.239-.523.24.523.35.3-.35-.3z")
          a#python(href="https://www.python.org/" target="_blank" rel="noopener")
            span.none-link python
            svg(viewBox="0 0 37 37") 
              path(d="M14.121 17.57h8.657c2.41 0 4.308-2.038 4.308-4.458V4.859c0-2.349-1.969-4.113-4.321-4.505A26.919 26.919 0 0018.256 0a24.183 24.183 0 00-4.098.354C10.49 1 9.868 2.358 9.868 4.859v3.212h8.609v1.187H6.535c-2.519 0-4.724 1.517-5.414 4.397-.796 3.301-.831 5.32 0 8.767.616 2.565 2.087 4.352 4.606 4.352H8.68V22.9c0-2.86 2.502-5.33 5.441-5.33zm-.545-11.61a1.636 1.636 0 01-1.627-1.646c0-.914.728-1.657 1.627-1.657.895 0 1.626.743 1.626 1.657 0 .91-.731 1.646-1.626 1.646zm22.203 7.695c-.623-2.508-1.812-4.397-4.334-4.397h-3.172v3.854c0 2.983-2.61 5.35-5.495 5.35h-8.656c-2.372 0-4.255 2.174-4.255 4.55v8.252c0 2.348 2.003 3.73 4.294 4.404 2.743.807 5.342.952 8.624 0 2.182-.632 4.301-1.903 4.301-4.404v-3.303h-8.61v-1.187h12.969c2.518 0 3.457-1.715 4.334-4.352.904-2.715.865-5.285 0-8.767zM23.323 30.163c.899 0 1.627.736 1.627 1.647 0 .913-.728 1.656-1.627 1.656-.895 0-1.626-.743-1.626-1.656 0-.91.731-1.647 1.626-1.647z")
          a#linux(href="https://pt.wikipedia.org/wiki/Linux" target="_blank" rel="noopener")
            span.none-link linux
            svg(viewBox="0 0 32 37") 
              path(d="M30.544 30.19c-.532-.438-1.077-.867-1.575-1.343-.555-.53-.904-1.17-.828-1.982.043-.467-.064-.869-.628-1.025.133-.343.257-.572.307-.817.056-.273.053-.56.06-.842.079-2.957-.99-5.549-2.571-7.966a91.119 91.119 0 00-2.266-3.286c-1.215-1.688-1.65-3.585-1.672-5.635a14.142 14.142 0 00-.321-2.812c-.39-1.794-1.35-3.196-3.093-3.948-1.335-.576-2.717-.69-4.127-.322-2.049.536-3.288 2.059-3.265 4.183a98.08 98.08 0 00.274 6.13c.086 1.155-.093 2.153-.86 3.07-.737.88-1.396 1.832-2.035 2.79a8.458 8.458 0 00-.914 1.76c-.614 1.681-1.18 3.376-2.16 4.898-.363.564-.404 1.196-.146 1.84.066.168.107.425.026.56-.699 1.16-1.488 2.18-2.988 2.403-1.18.175-1.239.39-1.203 1.607.03.99.018 1.99-.083 2.975-.108 1.055.002 1.342 1.022 1.595 2.352.584 4.724 1.082 6.974 2.034.958.406 1.92.265 2.69-.523.806-.822 1.824-1.144 2.923-1.145 1.866-.002 3.732.088 5.6.109.505.006.795.194.998.653.25.562.67.975 1.32 1.047 1.244.137 2.378-.048 3.322-.998a12.363 12.363 0 014.041-2.739c.44-.184.855-.473 1.219-.786.662-.57.627-.934-.04-1.484zM15.287 6.3c.225-.773.753-1.274 1.557-1.426.675-.127 1.247.205 1.674.964.459.819.61 1.674.218 2.57-.322.735-.473.804-1.224.555-.141-.047-.279-.102-.528-.194.21-.176.343-.307.494-.41.337-.23.431-.552.4-.935-.042-.502-.437-.948-.843-.942-.363.005-.671.346-.712.865-.026.324.028.653.051 1.066-1.023-.304-1.398-1.047-1.087-2.113zm-3.785-.669c.378-.572.949-.687 1.514-.304.603.409 1.053 1.56.82 2.25-.084.25-.334.445-.509.665l-.18-.111c-.068-.372-.081-.768-.224-1.108-.09-.217-.373-.352-.57-.524-.184.22-.502.429-.521.662-.026.322.141.677.287.989.093.196.298.34.509.569l-.57.448c-.897-.802-1.163-2.619-.556-3.536zm11.181 19.061c-.06.774-.148.806-.925.92-.552.081-.7.225-.729.88a29.95 29.95 0 00-.003 2.302c.018.525-.16.937-.521 1.304-2.008 2.035-4.407 3-7.277 2.65-1.238-.151-2.047-.905-2.7-1.971.29-.108.505-.18.715-.265.927-.378 1.1-1.175.36-1.864-.559-.521-1.183-.975-1.783-1.452-.58-.462-1.168-.914-1.749-1.375-.495-.392-.684-.898-.696-1.54a9.878 9.878 0 01.932-4.378c.573-1.25 1.018-2.558 1.555-3.825.277-.654.566-1.322.973-1.896.392-.55.634-1.09.59-1.764-.025-.379-.005-.76-.005-1.14l.21-.105c.34.292.684.578 1.017.878 1.2 1.083 2.343 1.132 3.657.2.56-.399 1.167-.734 1.76-1.085.147-.087.324-.126.574-.22A3911.1 3911.1 0 0020.53 15.4c.318.75.574 1.534.97 2.24.792 1.418 1.214 2.914 1.207 4.534-.003.84.041 1.684-.024 2.518z")
          a#git(href="https://git-scm.com/" target="_blank" rel="noopener")
            span.none-link git
            svg(viewBox="0 0 38 38") 
              path(d="M36.77 17.069L20.406.707a2.414 2.414 0 00-3.413 0l-3.398 3.398 4.31 4.31a2.865 2.865 0 013.63 3.653l4.154 4.155a2.87 2.87 0 012.967 4.742 2.871 2.871 0 01-4.688-3.124l-3.873-3.873v10.195a2.873 2.873 0 11-2.361-.084V13.79a2.871 2.871 0 01-1.559-3.767l-4.25-4.248L.706 16.993a2.414 2.414 0 000 3.414L17.07 36.769c.942.942 2.47.942 3.414 0l16.285-16.286a2.415 2.415 0 000-3.414z")
    section#my-projects
      h2.title <span class="line complimentary-line">Meus projetos</span>
      div#projects.my-projects-info
        div.project
          img(src="./images/projetos_002.svg", alt="", height="100%", width="50%", loading="lazy")
          div.project-content
            h3.project-title Portfólio
            span.project-description Meu portfólio feito com express e o html e css padrão, com o intuito de ter a melhor performance possivel (100% no lighthouse).
            div.github-container
              a(href="https://github.com/ZamboniL/portfolio")
                span.github.primary-button Veja o Site
              a(href="https://github.com/ZamboniL/portfolio")
                span.github.black-button Veja o Repositório
                  svg.svg-github( viewBox="0 0 24 24")
                    path(d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z")
        div.project.reverse-project
          img(src="./images/projetos_003.jpg", alt="", height="100%", width="50%", loading="lazy")
          div.project-content
            h3.project-title Zat
            span.project-description Site de conversas em grupo instantâneas, criado inteiramente por mim tanto a backend, aonde eu utilizei express para a api, socket.io e cloud storage, quanto a frontend criada em nextjs e styled-components para o styling
            div.github-container
              a(href="https://zat-eight.vercel.app/")
                span.github.primary-button Veja o Site
              a(href="https://github.com/ZamboniL/zat")
                span.github.black-button
                  | Veja o Repositório
                  svg.svg-github( viewBox="0 0 24 24")
                    path(d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z")
        div.project
          img(src="./images/projetos_001.svg", alt="", height="100%", width="50%", loading="lazy")
          div.project-content
            h3.project-title Noty
            span.project-description Noty é um web app de anotação, aonde o usuário pode criar notas novas como lembretes. Ainda esta muito cedo em seu desenvolvimento para apresenta-lo mas logo terei um MVP disponível.
    section#contact
      h2.title <span class="line">Entre em contato <span class=vanish>comigo</span></span>
      div.contact-socials
        span.black-button
          a(href="https://github.com/ZamboniL")
            span.none-link github
            svg( viewBox="0 0 24 24")
              path(d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z")
        span.black-button
          a(href="https://www.linkedin.com/in/zamboniorioli/")
            span.none-link behance
            svg(viewBox="0 0 128 128")
              path(d="M116,3H12a8.91,8.91,0,0,0-9,8.8V116.22A8.91,8.91,0,0,0,12,125H116a8.93,8.93,0,0,0,9-8.81V11.77A8.93,8.93,0,0,0,116,3ZM39.17,107H21.06V48.73H39.17Zm-9-66.21a10.5,10.5,0,1,1,10.49-10.5A10.5,10.5,0,0,1,30.12,40.77ZM107,107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87,7.36-10.87,15V107H50.53V48.73H67.89v8h.24c2.42-4.58,8.32-9.41,17.13-9.41C103.6,47.28,107,59.35,107,75Z")
        span.black-button
          a(href="https://www.behance.net/lucaszamboni")
            span.none-link behance
            svg(viewBox="0 0 128 128")
                  g(id="plain")
                  path(d="M48.53,48.26c0-7.16-4.87-7.16-4.87-7.16h-20V56.45H42.42C45.66,56.45,48.53,55.41,48.53,48.26Z")
                  path(d="M43.66,67.06h-20V85.44h19.1c2.87-.08,8.18-1,8.18-8.94C50.91,67,43.66,67.06,43.66,67.06Z")
                  path(d="M94.93,56.45c-10.63,0-12.11,10.6-12.11,10.6h22.6S105.56,56.45,94.93,56.45Z")
                  path(d="M111.25,2.16H16.75A14.59,14.59,0,0,0,2.16,16.75v94.49a14.59,14.59,0,0,0,14.59,14.59h94.49a14.59,14.59,0,0,0,14.59-14.59V16.75A14.59,14.59,0,0,0,111.25,2.16ZM79.86,32.92h28.38V41.4H79.86ZM65.51,77.36c0,21-21.85,20.31-21.85,20.31H7.86V28.87h35.8c10.88,0,19.47,6,19.47,18.32s-10.5,13.09-10.5,13.09C66.47,60.28,65.51,77.36,65.51,77.36Zm53.09-1.12H83c0,12.78,12.11,12,12.11,12,11.43,0,11-7.4,11-7.4H118.2c0,19.64-23.54,18.29-23.54,18.29-28.25,0-26.43-26.3-26.43-26.3s0-26.43,26.43-26.43C122.51,46.38,118.61,76.24,118.61,76.24Z")        span.black-button
        span.black-button
          a(href="https://www.behance.net/lucaszamboni")
            span.none-link behance
            svg(viewBox="0 0 128 128")
                  g(id="plain")
                  path(d="M48.53,48.26c0-7.16-4.87-7.16-4.87-7.16h-20V56.45H42.42C45.66,56.45,48.53,55.41,48.53,48.26Z")
                  path(d="M43.66,67.06h-20V85.44h19.1c2.87-.08,8.18-1,8.18-8.94C50.91,67,43.66,67.06,43.66,67.06Z")
                  path(d="M94.93,56.45c-10.63,0-12.11,10.6-12.11,10.6h22.6S105.56,56.45,94.93,56.45Z")
                  path(d="M111.25,2.16H16.75A14.59,14.59,0,0,0,2.16,16.75v94.49a14.59,14.59,0,0,0,14.59,14.59h94.49a14.59,14.59,0,0,0,14.59-14.59V16.75A14.59,14.59,0,0,0,111.25,2.16ZM79.86,32.92h28.38V41.4H79.86ZM65.51,77.36c0,21-21.85,20.31-21.85,20.31H7.86V28.87h35.8c10.88,0,19.47,6,19.47,18.32s-10.5,13.09-10.5,13.09C66.47,60.28,65.51,77.36,65.51,77.36Zm53.09-1.12H83c0,12.78,12.11,12,12.11,12,11.43,0,11-7.4,11-7.4H118.2c0,19.64-23.54,18.29-23.54,18.29-28.25,0-26.43-26.3-26.43-26.3s0-26.43,26.43-26.43C122.51,46.38,118.61,76.24,118.61,76.24Z")        span.black-button
      form#form(action="/" method="post")
        div.top-input
          div.name
            label(for="name") Nome:
            input#name(type="text", name="name", required)
          div.email
            label(for="email") Email:
            input#email(type="email", name="email",  required)
        div.message
          label(for="message") Mensagem:
          textarea#message(name="message", cols="30", rows="10", required)
        div.form-button
          button(type="submit").primary-button Enviar
    section#return
      a.title(href="#header") 
        span.black-button Voltar ao topo
