doctype html
html(lang="pt-br")
  head
    title Lucas Zamboni Orioli


    link(rel="preload", href="./fonts/roboto-slab-v12-latin-300.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="./fonts/roboto-slab-v12-latin-500.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="./fonts/roboto-slab-v12-latin-700.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href='/stylesheets/style.css', as="style")


    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Web Portifolio do fullstack developer Lucas Zamboni Orioli.")
    meta(name="image" property="og:image" content="/images/ogimage.png")
    meta(name="description" property="og:description" content="Web Portifolio do fullstack developer Lucas Zamboni Orioli.")
    meta(name="author" property="og:author" content="Lucas Zamboni Orioli")
    meta(name="title" property="og:title" content="Meu portfólio")

    link(rel="icon", href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>")

  body
    div.overflow-hide
      block content
