@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.overflow-hide {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  --primary-color: #0051CB;
  --primary-color-tint: #6697e0;
  --complimentary-color: #FF1053;
  font-family: 'Roboto Slab', serif;
}

.overflow-hide::selection {
  background: var(--complimentary-color);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

.primary-button {
  border: 2px solid var(--primary-color);
  box-shadow: -5px 6px 0 var(--primary-color);
}

.black-button {
  border: 2px solid #000;
  box-shadow: -5px 6px 0 #000;
}

.complimentary-button {
  border: 2px solid var(--complimentary-color);
  box-shadow: -5px 6px 0 var(--complimentary-color);
}

.primary-button,
.black-button,
.complimentary-button {
  padding: 0.25em 0.5em;
  position: relative;
  z-index: 0;
}

.primary-button:hover,
.black-button:hover,
.complimentary-button:hover {
  cursor: pointer;
  color: #fff;
  fill: #fff;
}

.black-button:before,
.primary-button:before,
.complimentary-button:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: -2;
}

.black-button:after,
.primary-button:after,
.complimentary-button:after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 1s;
  z-index: -1;
}

.black-button:hover:after,
.primary-button:hover:after,
.complimentary-button:hover:after {
  top: 0px;
}

.black-button:after {
  background: #000;
}

.primary-button:after {
  background: var(--primary-color);
}

.complimentary-button:after {
  background: var(--complimentary-color);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-image: url('../images/home.png');
}

.main-page-header {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2em 0;
}

.home-link {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 5em;
}

.header-content {
  display: flex;
  place-content: center;
  color: #fff;
  font-weight: 300;
  padding: 5em 0;
}

.header-content img {
  filter: drop-shadow(15px 15px 2px rgba(0, 0, 0, 0.1));
  animation-name: bubble;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@keyframes bubble {
  20% {
    transform: translate3d(5px, -12.5px, 0px);
  }
  40% {
    transform: translate3d(-5px, 12.5px, 0px);
  }
  60% {
    transform: translate3d(5px, 12.5px, 0px);
  }
  80% {
    transform: translate3d(5px, -12.5px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

.hero {
  display: flex;
  align-items: center;
  width: 70%;
}

.hero-title {
  font-size: 5rem;
  line-height: 1.25em;
}

.hero-title span {
  font-weight: 700;
}

.button-container {
  display: flex;
  margin: 4em 0;
}

.hero-button {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  place-items: center;
  font-family: inherit;
}

.hero-button svg {
  height: 1em;
  margin: .2em .25em 0 0;
  margin-top: .2em;
}

.svg-container {
  transform: scale(3);
  width: 100%;
}

section {
  padding-top: 10em;
  width: 100%;
  display: flex;
  justify-content: center;
}

section .container {
  width: calc(75% * 0.70);
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

#about {
  padding: 5em 0;
}

.title span {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
}

.line:after {
  content: '';
  position: absolute;
  top: 6px;
  left: -0px;
  width: 100%;
  height: 50%;
  border-bottom: 12px solid var(--primary-color-tint);
  z-index: -1;
}

.complimentary-line:after {
  border-bottom: 12px solid var(--complimentary-color);
}

.title {
  padding-bottom: 5em;
}

.about-info {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.about-info img {
  margin: 2em 2em 2em 0;
}

.about-text-socials {
  display: flex;
  flex-direction: column;
  position: relative;
}

.svg-socials {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 100%;
}

.svg-socials svg {
  height: 3em;
  transition: 0.25s;
}

.svg-socials svg:hover {
  fill: var(--primary-color);
  height: 3.5em;
}

.tech-stack-info {
  position: relative;
}

.svg-fiesta {
  position: absolute;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.svg-fiesta svg {
  display: block;
  fill: #000;
  margin: 1em;
  height: 5em;
  transition: 0.25s;
}

.svg-fiesta svg:hover {
  fill: var(--primary-color);
  height: 6em;
}

.svg-js-internal-color {
  fill: #fff;
}

#my-projects {
  padding-top: 30em;
}

.my-projects-info {
  display: flex;
  flex-wrap: wrap;
}

.my-projects-info .project {
  margin: 0 1em 5em 1em;
}

.project {
  display: flex;
  width: 100%;
  min-height: 30em;
  border: 2px solid #000;
  box-shadow: -6px 5px 0 #000;
  overflow: hidden;
}

.project img {
  object-fit: cover;
  height: 100%;
  width: 50%;
  border-right: 2px solid #000;
}

.project-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-word;
}

.project-title {
  font-weight: 600;
  font-size: 2.5em;
}

.project-description {
  font-size: 1.5em;
  padding: 1em;
}

.github-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github {
  width: fit-content;
  display: inline-flex;
  align-items: center;
}

.svg-github {
  height: 1em;
  margin-left: 0.5em;
}

.github:hover {
  color: #fff;
  fill: #fff;
}

.contact-socials {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.5em;
  z-index: -1;
}

.contact-socials span {
  height: 5em;
  width: 5em;
}

#form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid #000;
  box-shadow: -5px 6px 0 #000;
  padding: 1em;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 5em;
}

.top-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-input label {
  margin-right: 0.5em;
}

.top-input input {
  width: 16em;
}

input[type='text'],
input[type='email'],
input[type='text'],
textarea {
  border: 2px solid #000;
  font-size: 1.5rem;
  padding: 0.2rem;
  border-radius: none;
  outline: none;
  resize: none;
  margin-bottom: 1em;
}

.message {
  display: flex;
  flex-direction: column;
}

.form-button {
  display: flex;
  justify-content: center;
}

#form button {
  width: 25%;
  font-size: 1.5rem;
  margin-top: 2em;
}

#return {
  padding: 1em;
}

#return .title {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1350px) {
  .nav-link {
    font-size: unset;
  }
  .about-info {
    font-size: 1.5em
  }
}

@media only screen and (max-width: 1024px) {
  .main-page-header {
    width: unset;
    padding: 2em 4em;
  }
  nav {
    justify-content: center;
  }
  .home-link {
    margin-right: unset;
  }
  .nav-link {
    display: none;
  }
  .hero {
    width: unset;
  }
  .hero img {
    display: none;
  }
  section {
    display: unset;
  }
  section .container {
    width: unset;
    padding: 2em 4em;
  }
  .svg-fiesta {
    margin: unset;
  }
  #form {
    margin-bottom: 1em;
  }
  #return .title {
    padding-bottom: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .home-link,
  .hero-button {
    font-size: 1.5em;
  }
  .hero-title {
    font-size: 3em;
  }
  section {
    padding: unset;
  }
  .about-info {
    padding-bottom: 3em;
  }
  .title span {
    font-size: 2rem;
  }
  #my-projects {
    padding-top: 25em;
  }
  .project {
    min-height: unset;
  }
  .project-title {
    font-size: 2em;
  }
  .project-description {
    padding: 2em 1em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 700px) {
  .main-page-header {
    padding: 1em 2em;
  }
  section .container {
    padding: 1em 2em;
  }
  .about-info {
    font-size: unset;
  }
  .svg-fiesta svg {
    height: 3em;
  }
  #my-projects {
    padding-top: 20em;
  }
}

@media only screen and (max-width: 550px) {
  .title span {
    font-size: 1.5rem;
  }
  .about-info {
    flex-direction: column;
  }
  .svg-fiesta svg {
    margin: .5em;
  }
  .project {
    flex-direction: column;
    min-height: 25em;
  }
  .project img {
    height: 50%;
    width: 100%;
  }
  .project-title {
    font-size: 1.5em;
  }
  .project-description {
    padding: 1em .5em;
  }
  input[type='text'],
  input[type='email'],
  input[type='text'],
  textarea {
    width: 100%;
  }
  #form button {
    width: unset;
  }
  .vanish {
    display: none;
  }
}